body{
    margin: 0;
    font-family: arial;
    display: flex;
  }

.sidebar{
    width: 160px;
    background: #3a6fd8;
    min-height: 100vh;
  }
  .sidebar-titol{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 14px 10px;
    margin-top: 5%;
    letter-spacing: 0.3px;
  }
  .sidebar nav a{
    display: block;
    color: #cfe0ff;
    font-size: 13px;
    padding: 10px 14px;
    text-decoration: none;
  }